[Unit]
Description=Check BP storage disk health every five minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true
Unit=bp-storage-disk-health.service

[Install]
WantedBy=timers.target
